# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# macOS and Linux
.DS_Store
*.swp

# Output files
/output/
*.log
*.tmp
*.bak

# Excel temporary files
~$*.xlsx
